<html>
  <head>
    <title>The Gossip Project</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
    	body{
    		background-color: #FFEBCD;
    	}
    	a{
    		color:white;
    	}
    	button {
    		margin-left: 5px;
    		text-decoration: none;
    	}
    </style>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>

      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      	<a class="navbar-brand" href="/">Accueil</a>
  		<a class="navbar-brand" href="/gossips/new">Créer un potin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
    <% gossips.each_with_index do |gossip , index| %>
          <h1 class="display-5"> <%= gossip.author %> </h1> 
          <p class="lead">
          <%= gossip.content %> <br></p>
          </div>
        <a href="/gossips/<%= index %>"class="btn btn-primary btn-lg">show</a>
		<a href="/gossips/<%= index %>/edit"class="btn btn-warning">Editer</a>
      <% end %>


  </body>
</html>

