<html><html>
  <head>
    <title>The Gossip Project</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
      body{
        background-color: #FFEBCD;
      }
    </style>
  </head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">Accueil</a>
  </nav>

  <h1> PAGE POTIN</h1>
  <ol>
    <h2>Voici la page du potin n°<%= params[:id]%></h2>
    <p>Son auteur :<strong><%= gossip.author %></strong><br>
    Le contenu du potin :<strong><%= gossip.content %></strong></p>
  </ol>
</body>
</html>